################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MainProject/.vs/MainProject/v16/Server/sqlite3
/MainProject/.vs/MainProject/v16/.suo
/MainProject/MainProject/obj
/MainProject/MainProject/Properties
/MainProject/.vs/MainProject/DesignTimeBuild/.dtbcache
/MainProject/MainProject/bin/Debug/netcoreapp3.1/Properties
/MainProject/MainProject/bin/Debug/netcoreapp3.1
