################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MainProject/.vs/MainProject/v16/Server/sqlite3
